.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #101010;
  border-radius: 12px;
  padding-top: 30px;
  max-width: 680px;
  overflow: hidden;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userImg {
  max-width: 50%;
  background-color: rgba(6, 6, 6, 0.8);
  border-radius: 50%;
}

.userName {
  font-size: 3.5rem;
  font-weight: bolder;
  margin: 20px 0;
}

.userOtherText {
  font-size: 3rem;
  color: #868686;
}

.statsList {
  width: 100%;
  display: flex;
  border-top: 3px solid #868686;
  margin-top: 30px;
}

.statsListItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #d3d3d3;
  padding: 24px 0;
  border-right: 3px solid #999;
}

.statsListItem:last-child {
  border-right: none;
}

.statsListItem span {
  font-size: 2.6rem;
}

.statsListItem span:last-child {
  font-weight: bold;
}