.friendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 100%;
}

.avatar {
  max-width: 92px;
  width: 100%;
}

.name {
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 500;
}

.status {
  font-size: 1.4rem;
}

.online {
  color: green;
}

.offline {
  color: orangered;
}