.table {
  max-width: 680px;
  width: 100%;
  border: 2px solid #101010;
  border-collapse: collapse;
  font-size: larger;
}

.th {
  background-color: rgba(6, 6, 6, 0.8);
  color: #fff;
}

.th,
.td {
  width: 33.33%;
  padding: 4px 12px;
  border: 2px solid #101010
}

.tbody tr:nth-child(even) {
  background-color: #d3d3d3;
}

.tbody td:first-child {
  text-align: left;
  text-transform: capitalize;
  padding-left: 10%;
}